<div class="header">
    <div class="container">
        <div class="header-flex-container">
            <div class="space-right">
                <img src="/assets/img/placeholder_img.png" alt="Placeholder image" class="thumbnail">
            </div>
            <div>
                <p class="mb-1">Blueplanet</p>
            </div>
            <div class="filler"></div>
            <div class="space-right">
                <p class="mb-1">Welcome &lt;MyUserName&gt;</p>
            </div>
            <div class="header-button header-flex-container">
                <span class="material-symbols-outlined">notifications</span>
                <span class="badge alert-primary badge-display">1</span>
            </div>
            <div class="header-button header-flex-container space-right">
                <span class="material-symbols-outlined">person</span>
            </div>
            <div class="space-right">
                <p class="mb-1">|</p>
            </div>
            <div class="header-button header-flex-container">
                <p class="mb-1">Logout</p>
            </div>
        </div>
    </div>
</div>
<div class="container">

</div>
