<h5>Alarms views</h5>
<div class="btn-group my-2" role="group" ngbRadioGroup name="radioBasic" [(ngModel)]="selectedTab" (change)="onTabChange()">
    <label ngbButtonLabel class="btn-primary">
        <input ngbButton type="radio" class="btn-check" value="alarms"> Alarms
    </label>
    <label ngbButtonLabel class="btn-primary">
        <input ngbButton type="radio" class="btn-check" value="nodeType"> Node type
    </label>
    <label ngbButtonLabel class="btn-primary">
        <input ngbButton type="radio" class="btn-check" value="critical"> Critical ({{ getSeverityCount("critical") }})
    </label>
    <label ngbButtonLabel class="btn-primary">
        <input ngbButton type="radio" class="btn-check" value="major"> Major ({{ getSeverityCount("major") }})
    </label>
</div>
<table class="table table-bordered">
    <thead>
        <tr class="table-primary">
            <th scope="col"><input type="checkbox" class="form-check-input"></th>
            <th scope="col">Severity</th>
            <th scope="col">Description</th>
            <th scope="col">Node type</th>
            <th scope="col">Clearable</th>
            <th scope="col">State</th>
            <th scope="col">Raise time</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let alarm of computedAlarms">
            <th scope="row"><input type="checkbox" class="form-check-input" [value]="alarm.isChecked"></th>
            <td [ngClass]="{
                'bg-critical': alarm.severity.toLowerCase() === 'critical' && showSeverityColors,
                'bg-major': alarm.severity.toLowerCase() === 'major' && showSeverityColors,
                'bg-minor': alarm.severity.toLowerCase() === 'minor' && showSeverityColors
            }">{{ alarm.severity }}</td>
            <td>{{ alarm.description }}</td>
            <td>{{ alarm.nodeType }}</td>
            <td>{{ alarm.clearable }}</td>
            <td>{{ alarm.state }}</td>
            <td>{{ alarm.raiseTime }}</td>
        </tr>
    </tbody>
</table>